<div class="row">
    <div class="col-xxl-12">
        <ngx-diesel-consumption></ngx-diesel-consumption>
    </div>
</div>

<div class="row">
    <div class="col-xxl-12">
        <ngx-bin-activity></ngx-bin-activity>
    </div>
</div>

<div class="row">
    <div class="col-xxl-12">
        <ngx-co2-emission></ngx-co2-emission>
    </div>
</div>

<div class="row">
    <div class="col-xxl-12">
        <ngx-custom-traffic-reveal-card></ngx-custom-traffic-reveal-card>
    </div>
</div>

<div class="row">
    <div class="col-xxl-12">
        <ngx-general-statistics></ngx-general-statistics>
    </div>
</div>